body {
  margin: 0;
}

/* div {
  border: 1px solid grey;
} */

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover:not(.active) {
  background-color: #111;
}

.nav .active {
  background-color: #4caf50;
}

.news {
  margin: 16px 16px 16px 32px;
  padding: 14px;
  /* list-style-type: none; */
}

.news li {
  /* padding: 10px; */
  margin-bottom: 14px;
}

.cards {
  flex: 1;
  display: "flex";
}

.center {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.num {
  text-align: right;
}
